-- [DEBUG-WORKITEM:canvascleanup:impl] Drop ContentBroadcasts table from KSESSIONS_DEV ;CLEANUP_OK
USE KSESSIONS_DEV;
GO

IF EXISTS (SELECT * FROM sys.tables WHERE name = 'ContentBroadcasts' AND schema_id = SCHEMA_ID('canvas'))
BEGIN
    DROP TABLE [canvas].[ContentBroadcasts];
    PRINT '[DEBUG-WORKITEM:canvascleanup:impl] ContentBroadcasts table dropped successfully ;CLEANUP_OK';
END
ELSE
BEGIN
    PRINT '[DEBUG-WORKITEM:canvascleanup:impl] ContentBroadcasts table does not exist ;CLEANUP_OK';
END
GO
